*{
    padding: 0;
    margin: 0;
}
.parent{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.div1{
    flex: 2;
    padding: 23px;
    width: 300px;
    background-color: black;
}
.div2{
    flex: 8;
    background-color: #121212;
    overflow: scroll;
}
img{
    width: 100px;
}
.div1 ul{
    list-style: none;
    margin-top: 20px;
}
.div1 ul li{
    padding: 10px 0px;
    color: white;
    font-weight: 500;
    font-size: 18px;
}
.div2{
    padding: 40px 60px;
}
.div2 h2{
    color: white;
    font-size: 22px;
    margin-bottom: 20px;
}
.cards{
    display: flex;
    gap: 20px;
    overflow: hidden;
}
.card{
    width: 200px;
    height: 300px;
    padding: 15px;
    background-color: black;
    border-radius: 6px;

}
.div2 .card img{
    width: 100%;
    border-radius: 4px;
}
.card h4,p{
    color: white;
    margin-top: 15px;
}
.card :hover{
    background-color: #252525;
    cursor: pointer;
}
.footer{
    display: flex;
    color: white;
    padding-top: 80px;
    gap: 200px;
    line-height: 1.8;
}
.footer ul{
    list-style: none
}